.home {
    position: relative;
    height: 540px;
    overflow: hidden;

    .home-banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }


    &__content {
        position: absolute;
        top: 50%;
        left: 1.5625em;
        right: 1.5625em;
        transform: translateY(-50%);
        text-align: center;

        h1 {
            color: $white;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 0.3375em;
            margin-bottom: 2.5em;
        }

        .arrow {
            display: inline-block;
            animation: floatSteady 4s linear infinite;
        }
    }

}

@include breakpoint-up(small) {
    .home {
        height: 38.75em;
    }
}

@include breakpoint-up(medium) {
    .home {
        height: 50em;

        &__content {
            h1 {
                font-size: 3.125em;
            }
        }
    }
}

@include breakpoint-up(large) {
    .home {
        &__content {
            transform: translateY(calc(-50% + -65px));

            h1 {
                font-size: 3.4375em;
            }
        }
    }
}